<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= paginate @support.documents(@organization, params[:page]) %>
  </div>
</div>
<div>
  <% if @support.documents(@organization, params[:page]).any? %>
    <% @support.documents(@organization, params[:page]).each do |document|%>
      <div class="document-user">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3" id="image_document">
              <a href="<%= document_path(document) %>">
                <% if document.attachment? %>
                  <%= image_tag document.attachment.preview.url, class: "img-responsive" %>
                <% else %>
                  <%= image_tag Settings.image, class: "img-responsive" %>
                <% end %>
              </a>
            </div>
            <div class="col-md-9">
              <% if document.checked? %>
                <h4>
                  <%= link_to document.name, document_path(document) %>
                </h4>
              <% else %>
                <h4><%= document.name %></h4>
              <% end %>
              <p>
                <i class="fa fa-tag">
                  <span>
                    <%= link_to document.category.name, category_path(document.category) if document.category.present? %>
                  </span>
                  <span class="time">
                    <%= document.created_at.strftime(Settings.format_date) %>
                  </span>
                </i>
              </p>
              <h5><%= t ".short_description" %></h5>
              <p><%= document.description %></p>
              <p>
                <% load_categories.each do |category| %>
                  <i class="fa fa-tags"></i>
                  <span><%= link_to category.name, category_path(category) %></span>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= paginate @support.documents(@organization, params[:page]) %>
  </div>
</div>
