<% if team.has_admin?(current_user) && team.group_members.admin.team_user.length == 1 %>
  <button class="btn btn-default btn-destroy" id="has_only_admin">
    <i class="fa fa-thumbs-o-down"></i>
    <span><%= t "leave" %></span>
  </button>
<% else %>
  <%= form_for [organization, team, support.find_member(current_user)],
    html: {method: :delete}, remote: true do |f| %>
    <%= button_tag "", class: "btn btn-default btn-destroy" do %>
      <i class="fa fa-thumbs-o-down"></i>
      <% unless member.confirm? %>
        <span><%= t "team.unrequest" %></span>
      <% else %>
        <span><%= t "team.leave" %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
