<% if @team.has_admin? current_user %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 group-edit">
      <h1 class="title"><%= t ".edit_team" + @team.name %></h1>
      <%= form_for [@team.organization, @team] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.submit t("team.edit.edit"), class: "btn btn-edit" %>
      <% end %>
      <%= link_to [@team.organization, @team], method: :delete,
        data: {confirm: (t "team.delete")} do%>
      <button class="btn btn-delete"><%= t "team.delete.delete" %></button>
      <% end %>
    </div>
  </div>
<% end %>

