
  <h1 class="col-md-2"><%= @team.name %></h1>
  <%= render "join_form" %>

<% if @team.has_admin?(current_user) %>
  <div class="">
    <button class="btn btn-default">
      <%= link_to (t "team.edit.edit"), edit_organization_team_path %>
    </button>
    <button class="btn btn-default">
      <%= link_to (t "team.delete.delete"), [@team.organization, @team], method: :delete,
        data: {confirm: (t "team.delete")} %>
    </button>
  </div>
<% end %>
<ul class="nav nav-tabs">
  <li>
    <a data-toggle="tab" href="#team-documents"><%= t "team.show.documents" %></a>
  </li>
  <li>
    <a data-toggle="tab" href="#team-members"><%= t "team.show.members" %></a>
  </li>
  <% if @team.has_admin? current_user %>
    <li class="active">
      <a data-toggle="tab" href="#team-requests"><%= t "team.show.requests" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#admin-add-member"><%= t "team.show.add_member" %></a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div id="team-documents" class="tab-pane fade">
    <h3><%= t "team.show.documents" %></h3>
  </div>
  <div id="team-members" class="tab-pane fade ">
     <h3>
        <%= t "teams.show.members" %>
        (<%= @team.group_members.team_user.member.length %>)
      </h3>
    <table class="table table-hover">
      <thead>
        <th><%= t "team.show.name" %></th>
        <th><%= t "team.show.email" %></th>
        <th><%= t "team.show.address" %></th>
        <% if @team.has_admin? current_user %>
          <th><%= t "team.assign" %></th>
          <th><%= t "team.remove" %></th>
        <% end %>
      </thead>
      <tbody>
      <% @support.members.each do |member| %>
        <tr id="accept-team-member-<%= member.id %>">
          <td><%= link_to member.user.name, member.user %></td>
          <td><%= member.user.email %></td>
          <td><%= member.user.address %></td>
          <% if @team.has_admin?(current_user) && !@team.has_admin?(member.user) %>
            <td>
              <button id="<%= member.id %>" class="btn btn-team-assign btn-default">
                <span class="fa fa-check"></span>
              </button>
            </td>
            <td>
              <button id="<%= member.id %>" class="btn btn-team-remove btn-default">
                <span class="fa fa-ban"></span>
              </button>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% if @team.has_admin? current_user %>
    <div id="team-requests" class="tab-pane fade in active">
      <h3>
        <%= t "team.show.requests" %>
        (<%= @team.group_members.team_user.request.length %>)
      </h3>
      <table class="table table-hover">
        <thead>
          <th><%= t "team.show.name" %></th>
          <th><%= t "team.show.email" %></th>
          <th><%= t "team.show.address" %></th>
          <th><%= t "team.accept" %></th>
          <th><%= t "team.remove" %></th>
        </thead>
        <tbody>
          <% @support.requests.each do |request| %>
            <tr id="accept-team-request-<%= request.id %>">
              <td><%= link_to request.user.name, request.user %></td>
              <td><%= request.user.email %></td>
              <td><%= request.user.address %></td>
              <td>
                <button id="<%= request.id %>" class="btn btn-team-accept btn-default">
                  <span class="fa fa-check"></span>
                </button>
              </td>
              <td>
                <button id="<%= request.id %>" class="btn btn-team-decline btn-default">
                  <span class="fa fa-ban"></span>
                </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="admin-add-member" class="tab-pane fade">
      <h3><%= t "team.show.add_member" %></h3>
      <table class="table table-hover">
        <thead>
          <th><%= t "team.show.name" %></th>
          <th><%= t "team.show.email" %></th>
          <th><%= t "team.show.address" %></th>
          <th><%= t ".add" %></th>
        </thead>
        <tbody>
          <% @support.add_member(@organization).each do |user| %>
            <tr id="accept-team-add-<%= user.id %>">
              <td><%= link_to user.name, user %></td>
              <td><%= user.email %></td>
              <td><%= user.address %></td>
              <td>
                <button id="<%= user.id %>" class="btn btn-team-add btn-default">
                  <span class="fa fa-check"></span>
                </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
