<div class="col-md-12 admin-document">
  <h2 class="text-left"><%= t ".list_images" %></h2>
  <div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-search">
        <%= form_tag admin_imageslides_path, method: :get, id: "search_image" do %>
          <%= text_field_tag :search, params[:search], class: "form-control input-lg", id: "search_image_ajax" %>
          <div class="button-tag">
            <%= submit_tag "" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="btn-add-image">
        <div class="row">
          <div class="col-md-12">
            <%= form_for [:admin, @imageslide], html: {multipart: true} do |f| %>
              <%=  render "shared/error_messages", object: @imageslide %>
              <div class="form-group">
                <%= f.label :image %>
                <%= image_tag  "", id: "image-slide", class: "img-responsive", size: "765x315" %>
                <div class="btn btn-success fileinput-button", id="add-new-slider">
                  <i class="fa fa-plus default" ></i>
                  <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "img-responsive" %>
                </div>
              </div>

              <div id="save-slider">
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div id="table-images-admin">
        <%= render partial: "/admin/imageslides/imageslides",
          locals: {imageslides: @imageslides} %>
      </div>
    </div>
  </div>
</div>
