<div class="row">
  <div class="col-md-12">
    <%= form_for [:admin, @imageslide], html: {multipart: true} do |f| %>
      <%=  render "shared/error_messages", object: @imageslide %>
      <div class="form-group">
        <%= f.label :image %>
        <%= image_tag  Settings.image, id: "image-slide", class: "img-responsive" %>
        <div class="btn btn-success fileinput-button">
          <i class="fa fa-pencil"></i>
          <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "img-responsive" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit t(".save"), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
