<h1><%= t "start_chatting" %></h1>
<p><%= t "creating_conversation" %> <strong><%= @guest.name %></strong> </p>
<%= form_for current_user.active_conversations.build, class: "form-inline" do |f| %>
  <div class="col-md-6">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", require: true %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :guest_id, value: @guest.id %>
  </div>
  <br>
  <%= f.submit t("start_chatting"), class: "btn btn-primary" %>
<% end %>
