<%= provide :title, @chatroom.title %>
<div class="col-md-8 col-md-offset-2">
  <div class="top_menu">
    <h2 class="text-center"><%= @chatroom.title %></h2>
  </div>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <div class="row">
      <div class="col-md-12">
        <ul id="chat-box" class="messages">
          <%= render @chatroom.messages %>
        </ul>
      </div>
    </div>
    <div class="bottom_wrapper clearfix">
      <%= form_for @message, url: "#", class: "inline-form" do |f| %>
          <div class="message_input_wrapper">
            <%#= f.label :message %>
            <%= f.text_field :body, class: "message_input" %>
          </div>
        <%= f.submit t("messenger.send"), class: "send_message" %>
      <% end %>
    </div>
  </div>
</div>
