<table class="cart table table-hover new-order">
  <thead>
    <tr class="info row">
      <th class="col-md-1"></th>
      <th class="col-md-2"><%= t "views.users.stt" %></th>
      <th class="col-md-3"><b><%= t "views.users.name" %></b></th>
      <th class="col-md-4"><b><%= t "views.users.email" %></b></th>
      <th class="col-md-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @friend_list.each do |user| %>
      <tr class="row">
        <th class="col-md-1"></th>
        <td class="col-md-2"><%= @index = @index + 1 %></td>
        <td class="col-md-3"><b><%= link_to user.name, user %></b></td>
        <td class="col-md-4"><b><%= user.email %></b></td>
        <td class="col-md-2">
          <div id="follow_form">
            <%= form_for current_user.active_relationships.find_by(user_two_id: user.id),
              html: {method: :delete} do |f| %>
              <%= button_tag "", class: "btn btn-default button-2",
                id: "btn_favorite" do %>
                <i class="fa fa-user-times"></i>
                <span><%= t ".un_friend" %></span>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <%= paginate @friend_list %>
</table>
