<table class="table table-hover" id="list_user">
  <thead class="title_table">
    <th class="col-md-1"><%= t "views.users.stt" %></th>
    <th class="user_name col-md-2"><b><%= t "views.users.name" %></b></th>
    <th class="user_email col-md-3"><b><%= t "views.users.email" %></b></th>
    <th class="col-md-3"></th>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <% if current_user.friendlist? user %>
        <tr>
          <td><%= index + 1 %></td>
          <td><b><%= link_to user.name, user %></b></td>
          <td><b><%= user.email %></b></td>
          <td>
            <div id="follow_form">
              <%= form_for current_user.active_relationships
                .find_by(user_two_id: user.id),
                html: {method: :delete} do |f| %>
                  <%= f.submit t("views.friends.unfollow"),id: "nut-#{user.id}",
                    class: "btn btn-default form-control" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
