<button class="btn btn-destroy btn-danger"
  data-group-id="<%= member.id %>" data-group-type="<%= member.group_type %>"
    data-group-role="<%= member.role %>">
  <i class="fa fa-thumbs-o-down"></i>
  <% unless member.confirm? %>
    <span id="unrequest"><%= t "team.unrequest" %></span>
  <% else %>
    <span id="leave"><%= t "team.leave" %></span>
  <% end %>
</button>
