<h2 class="tittle text-center"><%= t ".upload_file" %></h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @document, html: {multipart: true} do |f| %>
    <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: "true",
        maxlength: Settings.document_length %>
      <%= f.label :description %>
      <%= f.text_area :description, placeholder:
        t(".compose_description"), class: "form-control", rows: Settings.rows %>
      <div class="row">
        <div class="col-md-6">
          <%= f.label :attachment %>
          <%= f.file_field :attachment %>
        </div>
        <div class="col-md-6 category_doc_upload">
          <%= f.select :category_id, options_for_select(load_categories.collect{
              |category| [category.name, category.id]}),
              {class: "btn btn-default", include_blank: t(".all")} %>
        </div>
      </div>
      <div class="row status_upload">
        <div class="col-md-12">
          <%= f.radio_button :status_upload, Settings.value_global, checked: true %> 
          <%= f.label :status_upload, Settings.global, value: Settings.value_global %>
          <%= f.radio_button :status_upload, Settings.value_shared %> 
          <%= f.label :status_upload, Settings.shared, value: Settings.value_shared %>
          <%= f.radio_button :status_upload, Settings.value_individual %> 
          <%= f.label :status_upload, Settings.individual, value: Settings.value_individual %>
        </div>
      </div>
      <%= f.submit t(".upload"), class: "btn btn-default" %>
    <% end %>
  </div>
</div>

