<h2 class="tittle text-center"><%= t ".upload_file" %></h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @document, html: {multipart: true} do |f| %>
    <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: "true",
        maxlength: Settings.document_length %>
      <%= f.label :description %>
      <%= f.text_area :description, placeholder:
        t(".compose_description"), class: "form-control", rows: Settings.rows %>
      <div class="row">
        <div class="col-md-12">
          <%= f.label :attachment %>
          <%= f.file_field :attachment %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 category_doc_upload">
        <p><%= t ".category" %></p>
          <%= f.select :category_id, options_for_select(load_categories.collect{
            |category| [category.name, category.id]}),
            {class: "btn btn-default", include_blank: t(".all")} %>
        </div>
        <div class="col-md-6 serie_doc_upload">
          <p>
            <b id="series-current"><%= t ".series" %></b>
            <a id="create_series">
              <%= t ".create_serie" %></a>
          </p>
          <div id="create-series-area">
            <input type="text" name="series_name" class="form-control">
          </div>
          <div id="choose-series">
            <%= f.select :serie_id, options_for_select(load_series(current_user).collect{
              |serie| [serie.name, serie.id]}),
              {class: "btn btn-default", include_blank: t(".all")} %>
          </div>
        </div>
      </div>
      <div class="row status_upload">
        <div class="col-md-12">
          <% Document.status_uploads.keys.each do |status| %>
            <%= f.radio_button :status_upload, status,
            checked: status == Settings.value_global %>
            <%= f.label :status_upload, status, value: status %>
          <% end %>
        </div>
      </div>
      <%= f.submit t(".upload"), class: "btn btn-default" %>
    <% end %>
  </div>
</div>

