<div class="view-document col-md-10 col-md-offset-1 text-center">
  <div class="row">
  <div class="col-md-4">
    <h2 class="text-center"><%= @document.name %></h2>
  </div>
  <div class="col-md-8 text-left">
    <span>
      <%= social_share_button_tag(@document.name) %>
    </span>
  </div>
  </div>
  <div class="row view-two">
    <div class="col-md-8 text-left">
      <p class="author_info">
        <span><%= t ".share_by" %></span>
        <span class="user_name">
          <%= link_to @document.user.name, @document.user %>
        </span>
        <span><%= t ".dash" %></span>
        <span><%= t ".date" %></span>
        <span class="document_date">
          <%= @document.created_at.strftime(Settings.format_date) %>
        </span>
        <span><%= t ".dash" %></span>
        <span class="document_size"><%= @document.user.documents.size %></span>
        <span><%= t ".documents" %></span>
      </p>
      <div class="row">
        <div class="col-md-3">
          <p class="favorite_document">
            <span>
              <%= render "favorite_form" if user_signed_in? %>
            </span>
          </p>
        </div>
        <div class="col-md-9">
          <p class="text-left">
            <span class="fav-count pull-left" id="fav_count">
              <%= @document.favorites.count %>
            </span>
          </p>
          <% if user_signed_in? %>
            <% if @document.user == current_user %>
              <%= form_for current_user.downloads.build do |f| %>
                <%= f.hidden_field :document_id, value: @document.id %>
                <%= f.hidden_field :count_download, value: @download_free %>
                <%= button_tag "", class: "btn btn-default button-2",
                  id: "btn_download" do %>
                  <i class="fa fa-download"></i>
                  <span><%= t ".download" %></span>
                <% end %>
              <% end %>
            <% else %>
              <% if @download_free < Settings.count_free_download %>
                <%= form_for current_user.downloads.build do |f| %>
                  <%= f.hidden_field :document_id, value: @document.id %>
                  <%= f.hidden_field :count_download, value: @download_free %>
                  <%= button_tag "", class: "btn btn-default button-2",
                    id: "btn_download" do %>
                    <i class="fa fa-download"></i>
                    <span><%= t ".download" %></span>
                  <% end %>
                <% end %>
              <% else %>
                <% if current_user.point >= Settings.coin_down %>
                  <%= form_for current_user.downloads.build do |f| %>
                    <%= f.hidden_field :document_id, value: @document.id %>
                    <%= f.hidden_field :count_download, value: @download_free %>
                    <%= button_tag "", class: "btn btn-default button-2",
                      id: "btn_download" do %>
                      <i class="fa fa-download"></i>
                      <span><%= t ".download" %></span>
                    <% end %>
                  <% end %>
                <% else %>
                  <p class="not_enought_coin">
                    <%= t ".please_click_1" %>
                    <%= link_to t(".here"), new_buycoin_path %><%= t ".to_buycoin" %>
                  </p>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% if @document.user == current_user %>
            <%= link_to document_path(@document), method: :delete,
              class: "btn btn-default delete-doc", data: {confirm: t(".delete_confirm")} do %>
              <span class="fa fa-trash-o"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center benphai">
      <div class="row">
        <div class="col-md-6">
          <p class="views_count" id="download_count">
          <% if user_signed_in? %>
            <% if @download_free >= Settings.count_free_download %>
              <%= Settings.coin_when_nonfree %>
            <% else %>
              <%= Settings.coin_when_free %>
            <% end %>
          <% else %>
            <%= Settings.coin_when_free %>
          <% end %>
          </p>
          <p><%= t ".coins" %></p>
        </div>
        <div class="col-md-6">
          <p class="views_count"><%= @document.view %></p>
          <p><%= t ".views" %></p>
        </div>
      </div>
    </div>
  </div>
  <% if @document.attachment.url.blank? %>
    <h2><%= t ".document_blank" %></h2>
  <% else %>
    <iframe src="<%= @document.attachment.url %>" style="width:800px; height:700px;" frameborder="0">
    </iframe>
  <% end %>
  <hr>
  <p class="tags">
    <% load_categories.each do |category| %>
      <i class="fa fa-tags"></i>
      <span><%= link_to category.name, category_path(category) %></span>
    <% end %>
  </p>
  <hr>
  <div id="comment" class="col-md-10 col-md-offset-1">
    <h3 class="tittle-comment text-left">
      <i class="fa fa-comments-o"></i><%= t ".comment" %>
      <%= t ".open" %><span class="comment-count"><%= @document.comments.count %></span><%= t ".close" %>
    </h3>
    <% if user_signed_in? %>
      <span class="header-comment pull-left">
        <%= t ".write_your_comment" %>
      </span>
      <div class="form-group">
        <%= form_for [@document, @document.comments.new], remote: true do |f| %>
          <%= f.text_area :content, class: "form-control",
            placeholder: t(".compose_new_comment"), class: "form-control",
            rows: Settings.rows, required: true %>
          <%= f.submit t(".submit"), class: "btn btn-default btn_comment pull-right",
            id: "comment-btn" %>
        <% end %>
      </div>
    <% else %>
      <%= t ".please_click" %>
      <%= link_to t(".here"), new_user_session_path %><%= t ".to_login" %>
    <% end %>
    <div class="list-comment">
      <ul id="comments">
        <%= render @comments %>
      </ul>
    </div>
  </div>
</div>
