<div id="documents-list-admin">
  <table class="cart table table-hover new-order">
    <thead>
      <tr class="info row">
        <th class="col-md-1"><%= t ".id" %></th>
        <th class="col-md-2"><%= t ".category" %></th>
        <th class="col-md-3">
          <span class="product-cart-description">
            <%= t ".filename" %>
          </span>
        </th>
        <th class="col-md-1"><%= t ".status" %></th>
        <th class="col-md-1"><%= t ".user_id" %></th>
        <th class="col-md-2"><%= t ".user_name" %></th>
        <th class="col-md-2"></th>
      </tr>
    </thead>
    <tbody>
      <% documents.each do |document|%>
        <tr class="row">
          <td class="col-md-1"><%= document.id %></td>
          <td class="col-md-2">
            <%= document.category.name if document.category.present? %></td>
          <td class="col-md-3">
            <%= document.attachment.file.filename if document.attachment.present? %>    
          </td>
          <td class="col-md-1"><%= document.status %></td>
          <td class="col-md-1"><%= document.user_id %></td>
          <td class="col-md-2"><%= document.user.name %></td>
          <th class="col-md-2 option-product-admin">
          <% unless document.checked? || document.cancelled? %>
            <%= link_to admin_document_path(document), method: :patch,
              class: "btn btn-default", data: {confirm: t(".check_confirm")} do %>
              <span class="fa fa-check"></span>
            <% end %>
          <% end %>
          <%= link_to admin_document_path(document), method: :delete,
            class: "btn btn-default", data: {confirm: t(".delete_confirm")} do %>
            <span class="fa fa-ban"></span>
          <% end %>
          </th>
        </tr>
        <% end %>
        <%= paginate documents %>
    </tbody>
  </table>
</div>

