<li>
  <%= link_to organization, class: "organization-item" do %>
    <div class="col-md-3 col-sm-3 col-xs-12 organization-picture">
      <%= image_tag organization.picture.url, class: "" %>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12 organization-detail">
      <h3 class="organization-name"><%= organization.name %></h3>
      <p class="number-of-member"><%=
        GroupMember.group_member(organization.class.name.downcase,
          organization.id).length %> <%= t "organizations.members" %></p>
      <p class="description"><%= truncate organization.description,
        length: Settings.organization.description_size %></p>
    </div>
  <% end %>
</li>
