<div class="container organization-page">
  <h1 class="header-page-title"><%= t "organizations.organizations" %></h1>
  <%= text_field_tag :search, params[:search], class: "form-control input-lg",
    id: "search_organization_ajax" %>
  <div class="col-md-8 col-sm-8 col-xs-12 row">
    <ul id="table-organizations" class="list-organizations">
      <%= render partial: "organizations", locals: {organizations: @organizations} %>
    </ul>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 row">
    <%= render "organizations/new", locals: {organization: @organization} %>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= paginate @organizations %>
    </div>
  </div>
</div>
