<h1><%= @organization.name %></h1>
<%= render "join_request" %>
<% if @organization.is_admin?(current_user) %>
  <div class="">
    <button class="btn btn-default">
      <%= link_to (t ".edit"), edit_organization_path %>
    </button>
    <button class="btn btn-default">
      <%= link_to (t ".delete"), @organization, method: :delete, data: {confirm: (t ".are_you_sure")} %>
    </button>
  </div>
<% end %>
<% if @organization.has_member? current_user %>
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#documents"><%= t ".documents" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#upload_documents"><%= t ".tab1" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#teams"><%= t ".teams" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#members"><%= t ".members" %></a>
    </li>
    <% if @organization.is_admin? current_user %>
      <li>
        <a data-toggle="tab" href="#requests"><%= t ".requests" %></a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div id="documents" class="tab-pane fade in active">
      <h3><%= t ".documents" %></h3>
      <div class="row">
        <%= render "document" %>
      </div>
    </div>
    <div id="upload_documents" class="tab-pane fade">
      <div class="row">
        <%= render "upload" %>
      </div>
    </div>
    <div id="teams" class="tab-pane fade">
      <h3><%= t ".team" %></h3>
      <div class="row">
        <%= render "team" %>
      </div>
    </div>
    <div id="members" class="tab-pane fade">
      <h3><%= t ".members" %></h3>
      <table class="table table-hover">
        <thead>
          <th><%= t ".name" %></th>
          <th><%= t ".email" %></th>
          <th><%= t ".address" %></th>
        </thead>
        <tbody>
        <% @support.members.each do |member| %>
          <tr>
            <td><%= member.user.name %></td>
            <td><%= member.user.email %></td>
            <td><%= member.user.address %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <% if @organization.is_admin? current_user %>
      <div id="requests" class="tab-pane fade">
        <h3><%= t ".requests" %></h3>
        <table class="table table-hover">
          <thead>
          <th><%= t ".name" %></th>
          <th><%= t ".email" %></th>
          <th><%= t ".address" %></th>
          <th><%= t ".confirm" %></th>
          </thead>
          <tbody>
          <% @support.requests.each do |request| %>
            <tr id="accept-request-<%= request.id %>">
              <td><%= request.user.name %></td>
              <td><%= request.user.email %></td>
              <td><%= request.user.address %></td>
              <td>
                <button id="<%= request.id %>" class="btn btn-accept btn-default">
                  <%= t ".accept" %>
                </button>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
