<div class="organization-page">
  <div class="left-sidebar col-md-2 col-sm-2">
    <div class="page-title">
      <% if @organization.has_admin?(current_user) %>
        <%= link_to edit_organization_path, class: "btn-edit" do %>
          <h1 class="title">
            <%= @organization.name %>
          </h1>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      <% else %>
        <h1 class="title">
          <%= @organization.name %>
        </h1>
      <% end %>
    </div>
    <div class="action">
      <%= render "join_request" %>
    </div>
    <% if @organization.has_member? current_user %>
      <ul class="nav nav-tabs list-group" id="tabs">
        <li class="active">
          <a id="documents-tab" data-destination-id="documents" data-toggle="tab"
             href="#documents"><%= t "organizations.show.documents" %></a>
        </li>
        <li>
          <a data-toggle="modal" data-target="#my-Guide" class="guide-modal">
            <%= t ".guide" %>
          </a>
          <%= render "organizations/show_tpl/guide" %>
        </li>
        <li>
          <a id="teams-tab" data-destination-id="teams" data-toggle="tab"
             href="#teams"><%= t "organizations.show.teams" %></a>
        </li>
        <li class="tab-ajax">
          <a id="members-tab" data-destination-id="members" data-toggle="tab"
             href="#members"><%= t "organizations.show.members" %></a>
        </li>
        <% if @organization.has_admin? current_user %>
          <li class="tab-ajax">
            <a id="requests-tab" data-destination-id="requests" data-toggle="tab"
               href="#requests"><%= t "organizations.show.requests" %></a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% if @organization.has_member? current_user %>
    <div class="tab-content col-md-7 col-sm-7">
      <div id="documents" class="tab-pane fade in active documents">
        <%= render "organizations/show_tpl/documents" %>
      </div>
      <div id="teams" class="tab-pane fade teams">
        <%= render "organizations/show_tpl/teams" %>
      </div>
      <div id="members" class="tab-pane fade members"></div>
      <% if @organization.has_admin? current_user %>
        <div id="requests" class="tab-pane fade requests"></div>
      <% end %>
    </div>
    <% if @organization.has_admin? current_user %>
      <div class="right-sidebar  col-md-3 col-sm-3">
        <label><%= t ".add_member" %></label>
        <%= select_tag "organization-select-user", options_for_select(
          user_not_in_organization(@organization).map {
            |user| [user.name, user.id] }),
              multiple: false, size: Settings.organization.select_box_size,
              class: "select-user-to-add", include_blank: true %>
        <button id="add-organization-member-btn" class="btn btn-default"
          data-group-id="<%= @organization.id %>"
          data-group-type="<%= @organization.class.name.downcase %>">
          <%= t ".add_member" %>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
