<div class="col-md-12 admin-document">
  <h2 class="text-left"><%= t ".list_users" %></h2>
  <div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-search">
        <%= form_tag admin_users_path, method: :get, id: "search_user" do %>
          <%= text_field_tag :search, params[:search], class: "form-control input-lg", id: "search_user_ajax" %>
          <div class="button-tag">
            <%= submit_tag "" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div id="table-users-admin">
        <%= render partial: "/admin/users/users",
          locals: {users: @users} %>
      </div>
    </div>
  </div>
</div>
