<div id="review_<%= review.id %>" class="review-index">
  <h4 class="display_inline"><strong><%= review.user.name %></strong></h4>

  <div class="show-rating-review">
    <%= t("reviews.rate")%>
    <% review.rating.to_i.times do %>
      <%= image_tag Settings.star_on %>
    <% end %>
  </div>
  <p class="text-left display_inline">
    <em>
      <%= t "reviews.created_by" %>
      <%= link_to review.user.name, "#" %>
    </em>
  </p>
  <p class="text-left display_inline">
    <em>
      <%= t "reviews.created_at" %>
      <%= localize_time review.created_at %>
    </em>
  </p>
  <p>
    <% if can? :update, review %>
      <a type="button" class="btn btn-default" data-toggle="modal"
        data-target="#mynewreview" data-whatever="@fat">
        <%= t"documents.edit_review" %>
      </a>
    <% end %>
  </p>
</div>
