<div id="my-Guide" class="modal" role="dialog">
  <% if @organization.guide_id.nil? %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t "organization.show.guide" %></h4>
        </div>
        <div class="modal-body">
          <p><%= t "none" %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <%= t "close" %>
          </button>
        </div>
      </div>
    </div>
  <% else %>
    <% if @support.guide.attachment.url.blank? %>
      <h2><%= t ".document_blank" %></h2>
    <% else %>
      <embed src="<%= @support.guide.attachment.url %>"
      style="width:80%; height:100%;" frameborder="0" id="iframe">
    <% end %>
  <% end %>
</div>
