<h3><%= t "organizations.show.requests" %></h3>
<table class="table table-hover">
  <thead>
  <th><%= t "organizations.show.name" %></th>
  <th><%= t "organizations.show.email" %></th>
  <th><%= t "organizations.show.address" %></th>
  <th><%= t "organizations.show.action" %></th>
  </thead>
  <tbody>
  <% group_members.each do |member| %>
    <tr id="accept-request-<%= member.id %>">
      <td><%= member.name %></td>
      <td><%= member.email %></td>
      <td><%= member.address %></td>
      <td>
        <% if member.confirm? %>
          <a id="<%= member.id %>" class="icon-decline">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        <% else %>
          <a id="<%= member.id %>" class="icon-accept">
            <i class="fa fa-check" aria-hidden="true"></i>
          </a>
          <a id="<%= member.id %>" class="icon-decline">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
