<h2 class="text-center">
  <span><i class="fa fa-book letter"></i></span>
  <span class="letter"><%= t ".d" %></span>
  <span class="letter"><%= t ".o" %></span>
  <span class="letter"><%= t ".c" %></span>
  <span class="letter"><%= t ".u" %></span>
  <span class="letter"><%= t ".m" %></span>
  <span class="letter"><%= t ".e" %></span>
  <span class="letter"><%= t ".n" %></span>
  <span class="letter"><%= t ".t" %></span>
  <span class="letter"><%= t ".s" %></span>
</h2>
<div class="row">
  <div class="col-md-4">
    <h2 id="serie-name"><%= @serie.name %></h2>
    <%= form_for @serie do |f| %>
      <div id="edit_serie"></div>
    <% end %>
  </div>
</div>
<div class="row">
  <%= render "document" %>
</div>
