<div id="footer">
  <div>
    <p><%= t "footer.designby" %></p>
    <ul>
      <li>
        <%= link_to t("footer.twitter"), "#", id: "twitter" %>
      </li>
      <li>
        <%= link_to t("footer.facebook"), "#", id: "facebook" %>
      </li>
      <li>
        <%= link_to t("footer.googleplus"), "#", id: "googleplus" %>
      </li>
      <li>
        <%= link_to t("footer.pinterest"), "#", id: "pinterest"%>
      </li>
    </ul>
  </div>
</div>
