<nav class="hea navbar navbar-default top navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-ex1-collapse">
        <span class="sr-only"><%= t ".toggle_navigation" %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <p class="logo_f"><%= t ".framgia" %></p>
      </a>
      <ul class="nav navbar-nav">
        <li class="dropdown navc">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t(".categories") %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% load_categories.each do |category| %>
              <li><%= link_to category.name, category_path(category) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="navc">
          <%= link_to t(".upload"),
            new_document_path, class: "fa fa-upload" %>
        </li>
        <li class="navc">
          <%= link_to t(".users"), users_path, class: "fa fa-users" %>
        </li>
        <% if user_signed_in? %>
          <li class="navc">
            <%= link_to t(".documents"), user_path(current_user), class: "fa fa-book" %>
          </li>
          <li class="navc">
            <%= link_to t(".coins"), new_buycoin_path, class: "fa fa-money" %>
          </li>
          <li class="dropdown navc">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user-circle"></i>
              <%= current_user.name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t(".messenger"), chatrooms_path %>
              </li>
              <li><%= link_to t(".profile"), "#" %></li>
              <li>
                <%= link_to t(".settings"),
                  edit_user_registration_path(current_user) %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".log_out"),
                  destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="navc"><%= link_to t(".login"),
            new_user_session_path %></li>
          <li class="navc"><%= link_to t(".signup"),
            new_user_registration_path %></li>
          <li class="navc">
            <%= link_to user_facebook_omniauth_authorize_path do %>
              <%= t "login_facebook" %>
            <% end %>
          </li>
        <% end %>
        <li class="dropdown navc language">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-globe"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="<%= active_class_locale :en %>">
              <%= link_to locale: :en do %>
                <span class = "fa fa-globe"></span>
                <%= t "eng" %>
              <% end %>
            </li>
            <li class="<%= active_class_locale :vn %>">
              <%= link_to locale: :vn do %>
                <span class = "fa fa-th-large"></span>
                <%= t "viet" %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
